{"swagger":"2.0","info":{"description":"Provides create, retrieve, update and delete (CRUD) services for  Acumos data including solutions, artifacts and users. All service endpoints require basic HTTP authentication.","version":"1.15.4-b180","title":"Acumos Common Data Service REST API","termsOfService":"Terms of service","contact":{"name":"Acumos Common Data Service Team","url":"http://acumos.readthedocs.io/en/latest/submodules/common-dataservice/docs/","email":"no-reply@acumos.org"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"}},"host":"cognita-dev1-vm01-core.eastus.cloudapp.azure.com:8000","basePath":"/ccds","tags":[{"name":"healthcheck-controller","description":"Healthcheck Controller"},{"name":"artifact-controller","description":"Artifact Controller"},{"name":"role-controller","description":"Role Controller"},{"name":"solution-controller","description":"Solution Controller"},{"name":"validation-sequence-controller","description":"Validation Sequence Controller"},{"name":"notification-controller","description":"Notification Controller"},{"name":"thread-controller","description":"Thread Controller"},{"name":"tag-controller","description":"Tag Controller"},{"name":"step-result-controller","description":"Step Result Controller"},{"name":"group-peer-solution-controller","description":"Group Peer Solution Controller"},{"name":"user-controller","description":"User Controller"},{"name":"code-table-controller","description":"Code Table Controller"},{"name":"site-config-controller","description":"Site Config Controller"},{"name":"peer-controller","description":"Peer Controller"}],"paths":{"/artifact":{"get":{"tags":["artifact-controller"],"summary":"Gets a page of artifacts, optionally sorted on fields.","operationId":"getArtifactsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["artifact-controller"],"summary":"Creates a new artifact.","operationId":"createArtifactUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"artifact","description":"artifact","required":true,"schema":{"$ref":"#/definitions/MLPArtifact"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/count":{"get":{"tags":["artifact-controller"],"summary":"Gets the count of artifacts.","operationId":"getArtifactCountUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/like":{"get":{"tags":["artifact-controller"],"summary":"Searches for artifacts with names or descriptions that contain the search term","operationId":"likeUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"term","in":"query","description":"term","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPArtifact"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/search":{"get":{"tags":["artifact-controller"],"summary":"Searches for artifacts using the field name - field value pairs specified as query parameters. Defaults to and (conjunction); send junction query parameter = o for or (disjunction).","operationId":"searchArtifactsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/artifact/{artifactId}":{"get":{"tags":["artifact-controller"],"summary":"Gets the artifact for the specified ID.","operationId":"getArtifactUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPArtifact"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["artifact-controller"],"summary":"Updates an artifact.","operationId":"updateArtifactUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"},{"in":"body","name":"artifact","description":"artifact","required":true,"schema":{"$ref":"#/definitions/MLPArtifact"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["artifact-controller"],"summary":"Deletes the artifact with the specified ID.","operationId":"deleteArtifactUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/artifact/{artifactId}/revision":{"get":{"tags":["artifact-controller"],"summary":"Gets the solution revisions that use the specified artifact ID.","operationId":"getRevisionsForArtifactUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPSolutionRevision"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/code/access/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of access type codes.","operationId":"getAccessTypeListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/artifact/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of artifact type codes.","operationId":"getArtifactTypeListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/deploy/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of deployment status codes.","operationId":"getDeploymentStatusListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/logprov":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of login provider codes.","operationId":"getLoginProviderListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/model/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of model type codes.","operationId":"getModelTypeListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/msgsev":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of message severity codes.","operationId":"getMessageSeverityListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/notifmech":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of notification delivery mechanism codes.","operationId":"getNotificationDeliveryMechanismListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/pair":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of value set names.","operationId":"getValueSetNamesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/code/pair/{name}":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of code-name pairs for the specified value set.","operationId":"getCodeNamePairsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"path","description":"name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/code/peer/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of peer status codes.","operationId":"getPeerStatusListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/step/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of step status codes.","operationId":"getStepStatusListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/step/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of step type codes.","operationId":"getStepTypeListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/sub/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of subscription scope codes.","operationId":"getSubscriptionScopesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/toolkit/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of toolkit type codes.","operationId":"getToolkitTypeListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/val/status":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of validation status codes.","operationId":"getValidationStatusListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/code/val/type":{"get":{"tags":["code-table-controller"],"summary":"Gets the list of validation type codes.","operationId":"getValidationTypeListUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPCodeNamePair"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/config":{"post":{"tags":["site-config-controller"],"summary":"Creates a new site configuration.","operationId":"createSiteConfigUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"siteConfig","description":"siteConfig","required":true,"schema":{"$ref":"#/definitions/MLPSiteConfig"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSiteConfig"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/config/{configKey}":{"get":{"tags":["site-config-controller"],"summary":"Gets the site configuration for the specified key.","operationId":"getSiteConfigUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"configKey","in":"path","description":"configKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["site-config-controller"],"summary":"Updates a site configuration.","operationId":"updateSiteConfigUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"configKey","in":"path","description":"configKey","required":true,"type":"string"},{"in":"body","name":"siteConfig","description":"siteConfig","required":true,"schema":{"$ref":"#/definitions/MLPSiteConfig"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["site-config-controller"],"summary":"Deletes a site configuration.","operationId":"deleteSiteConfigUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"configKey","in":"path","description":"configKey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/peer":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of peer groups, optionally sorted.","operationId":"getPeerGroupsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["group-peer-solution-controller"],"summary":"Creates a new peer group.","operationId":"createPeerGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPPeerGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerGroup"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of peer-solution membership mappings, optionally sorted.","operationId":"getPeerSolutionGroupMapsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerSolAccMap"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{peerGroupId}/solution/{solutionGroupId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Grants access for the specified peer group to the specified solution group.","operationId":"mapPeerSolutionGroupsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerGroupId","in":"path","description":"peerGroupId","required":true,"type":"integer","format":"int64"},{"name":"solutionGroupId","in":"path","description":"solutionGroupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPPeerSolAccMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Removes access for the specified peer group to the specified solution group.","operationId":"unmapPeerSolutionGroupsUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerGroupId","in":"path","description":"peerGroupId","required":true,"type":"integer","format":"int64"},{"name":"solutionGroupId","in":"path","description":"solutionGroupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/peer/{peerId}/access":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets peers accessible to the specified peer.","operationId":"getPeerAccessListUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPPeer"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{peerId}/solution/{solutionId}/access":{"get":{"tags":["group-peer-solution-controller"],"summary":"Checks access for the specified peer to the specified solution.","operationId":"checkPeerSolutionAccessUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPEntity"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/peer/{principalGroupId}/peer/{resourceGroupId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Grants access for the specified principal peer group to the specified resource peer group.","operationId":"mapPeerPeerGroupsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"principalGroupId","in":"path","description":"principalGroupId","required":true,"type":"integer","format":"int64"},{"name":"resourceGroupId","in":"path","description":"resourceGroupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPPeerPeerAccMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Removes access for the specified principal peer group to the specified resource peer group.","operationId":"unmapPeerPeerGroupsUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"principalGroupId","in":"path","description":"principalGroupId","required":true,"type":"integer","format":"int64"},{"name":"resourceGroupId","in":"path","description":"resourceGroupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of solution groups, optionally sorted.","operationId":"getSolutionGroupsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["group-peer-solution-controller"],"summary":"Creates a new solution group.","operationId":"createSolutionGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPSolutionGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/group/{groupId}/peer":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of peer members of the specified peer group, optionally sorted.","operationId":"getPeersInGroupUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["group-peer-solution-controller"],"summary":"Updates a peer group.","operationId":"updatePeerGroupUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPPeerGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Deletes a peer group.","operationId":"deletePeerGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/{groupId}/peer/{peerId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Adds the specified peer as a member of the specified peer group.","operationId":"addPeerToGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPPeerGrpMemMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Drops the specified peer as a member of the specified peer group.","operationId":"dropPeerFromGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/{groupId}/solution":{"get":{"tags":["group-peer-solution-controller"],"summary":"Gets a page of solution members in the specified solution group, optionally sorted.","operationId":"getSolutionsInGroupUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionGroup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["group-peer-solution-controller"],"summary":"Updates a solution group.","operationId":"updateSolutionGroupUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"group","description":"group","required":true,"schema":{"$ref":"#/definitions/MLPSolutionGroup"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Deletes a solution group.","operationId":"deleteSolutionGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/group/{groupId}/solution/{solutionId}":{"post":{"tags":["group-peer-solution-controller"],"summary":"Adds the specified solution as a member of the specified solution group.","operationId":"addSolutionToGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"in":"body","name":"map","description":"map","required":true,"schema":{"$ref":"#/definitions/MLPSolGrpMemMap"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["group-peer-solution-controller"],"summary":"Drops the specified solution as a member of the specified solution group.","operationId":"dropSolutionFromGroupUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"groupId","in":"path","description":"groupId","required":true,"type":"integer","format":"int64"},{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/healthcheck":{"get":{"tags":["healthcheck-controller"],"summary":"Assesses the health of the application by querying the database.","operationId":"getHealthUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif":{"get":{"tags":["notification-controller"],"summary":"Gets a page of notifications, optionally sorted.","operationId":"getNotificationsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPNotification"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["notification-controller"],"summary":"Creates a new notification.","operationId":"createNotificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"notif","description":"notif","required":true,"schema":{"$ref":"#/definitions/MLPNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPNotification"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/count":{"get":{"tags":["notification-controller"],"summary":"Gets the count of notifications.","operationId":"getNotificationCountUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/notif/{notificationId}":{"put":{"tags":["notification-controller"],"summary":"Updates a notification.","operationId":"updateNotificationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"},{"in":"body","name":"notif","description":"notif","required":true,"schema":{"$ref":"#/definitions/MLPNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["notification-controller"],"summary":"Deletes a notification.","operationId":"deleteNotificationUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"notificationId","in":"path","description":"notificationId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/peer":{"get":{"tags":["peer-controller"],"summary":"Gets a page of peers, optionally sorted on fields.","operationId":"getPeersUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["peer-controller"],"summary":"Creates a new peer.","operationId":"createPeerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"peer","description":"peer","required":true,"schema":{"$ref":"#/definitions/MLPPeer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/peer/search":{"get":{"tags":["peer-controller"],"summary":"Searches for peers using the field name - field value pairs specified as query parameters. Defaults to and (conjunction); send junction query parameter = o for or (disjunction).","operationId":"searchPeersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/peer/sub":{"post":{"tags":["peer-controller"],"summary":"Creates a new peer subscription.","operationId":"createPeerSubUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"peerSub","description":"peerSub","required":true,"schema":{"$ref":"#/definitions/MLPPeerSubscription"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerSubscription"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/peer/sub/{subId}":{"get":{"tags":["peer-controller"],"summary":"Gets the peer subscription for the specified ID.","operationId":"getPeerSubUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeerSubscription"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["peer-controller"],"summary":"Updates a peer subscription.","operationId":"updatePeerSubUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"peerSub","description":"peerSub","required":true,"schema":{"$ref":"#/definitions/MLPPeerSubscription"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["peer-controller"],"summary":"Deletes a peer subscription.","operationId":"deletePeerSubUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"subId","in":"path","description":"subId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/peer/{peerId}":{"get":{"tags":["peer-controller"],"summary":"Gets the peer for the specified ID.","operationId":"getPeerUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPPeer"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["peer-controller"],"summary":"Updates a peer.","operationId":"updatePeerUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"},{"in":"body","name":"peer","description":"peer","required":true,"schema":{"$ref":"#/definitions/MLPPeer"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["peer-controller"],"summary":"Deletes a peer.","operationId":"deletePeerUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/peer/{peerId}/sub":{"get":{"tags":["peer-controller"],"summary":"Gets all subscriptions for the specified peer.","operationId":"getPeerSubsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"peerId","in":"path","description":"peerId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPPeerSubscription"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role":{"get":{"tags":["role-controller"],"summary":"Gets a page of roles, optionally sorted on fields.","operationId":"getRolesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["role-controller"],"summary":"Creates a new role.","operationId":"createRoleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/MLPRole"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/count":{"get":{"tags":["role-controller"],"summary":"Gets the count of roles.","operationId":"getRoleCountUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/search":{"get":{"tags":["role-controller"],"summary":"Searches for roles using the field name - field value pairs specified as query parameters. Defaults to and (conjunction); send junction query parameter = o for or (disjunction).","operationId":"searchRolesUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/{roleId}":{"get":{"tags":["role-controller"],"summary":"Gets the role for the specified ID.","operationId":"getRoleUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["role-controller"],"summary":"Updates a role.","operationId":"updateRoleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/MLPRole"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["role-controller"],"summary":"Deletes a role.","operationId":"deleteRoleUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/role/{roleId}/function":{"get":{"tags":["role-controller"],"summary":"Gets the functions for the specified role.","operationId":"getListOfRoleFuncUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPRoleFunction"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["role-controller"],"summary":"Creates a new role function.","operationId":"createRoleFuncUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"in":"body","name":"roleFunction","description":"roleFunction","required":true,"schema":{"$ref":"#/definitions/MLPRoleFunction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRoleFunction"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/role/{roleId}/function/{functionId}":{"get":{"tags":["role-controller"],"summary":"Gets the role function for the specified role and function IDs.","operationId":"getRoleFuncUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPRoleFunction"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["role-controller"],"summary":"Updates an existing role function.","operationId":"updateRoleFuncUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"},{"in":"body","name":"roleFunction","description":"roleFunction","required":true,"schema":{"$ref":"#/definitions/MLPRoleFunction"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["role-controller"],"summary":"Deletes a role function.","operationId":"deleteRoleFuncUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"name":"functionId","in":"path","description":"functionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions, optionally sorted on fields.","operationId":"getSolutionsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["solution-controller"],"summary":"Creates a new solution.","operationId":"createSolutionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"solution","description":"solution","required":true,"schema":{"$ref":"#/definitions/MLPSolution"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/count":{"get":{"tags":["solution-controller"],"summary":"Gets the count of solutions.","operationId":"getSolutionCountUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search":{"get":{"tags":["solution-controller"],"summary":"Searches for solutions using the field name - field value pairs specified as query parameters. Defaults to and (conjunction); send junction query parameter = o for or (disjunction). With no limit, defaults to size 20.","operationId":"searchSolutionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/date":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions modified after the specified time, expressed in milliseconds since the Epoch.","operationId":"findSolutionsByDateUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/like":{"get":{"tags":["solution-controller"],"summary":"Searches for solutions with names or descriptions that contain the search term.","operationId":"findSolutionsByLikeKeywordUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"term","in":"query","description":"term","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/portal":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions matching all criteria.","operationId":"findPortalSolutionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/tag":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions matching the specified tag.","operationId":"findSolutionsByTagUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"tag","in":"query","description":"tag","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/search/user":{"get":{"tags":["solution-controller"],"summary":"Gets a page of user-accessible solutions","operationId":"findUserSolutionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/user/{userId}/access":{"get":{"tags":["solution-controller"],"summary":"Gets a page of solutions with the specified user in the ACL, optionally sorted on fields.","operationId":"getAccessibleSolutionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPSolution"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{parentId}/comp":{"get":{"tags":["solution-controller"],"summary":"Gets a list of child solution IDs used in the specified composite solution.","operationId":"getCompositeSolutionMembersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"parentId","in":"path","description":"parentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{parentId}/comp/{childId}":{"post":{"tags":["solution-controller"],"summary":"Adds a child to the parent composite solution.","operationId":"addCompositeSolutionMemberUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"parentId","in":"path","description":"parentId","required":true,"type":"string"},{"name":"childId","in":"path","description":"childId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Drops a child from the parent composite solution.","operationId":"dropCompositeSolutionMemberUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"parentId","in":"path","description":"parentId","required":true,"type":"string"},{"name":"childId","in":"path","description":"childId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}":{"get":{"tags":["solution-controller"],"summary":"Gets the solution for the specified ID.","operationId":"getSolutionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["solution-controller"],"summary":"Updates a solution.","operationId":"updateSolutionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"in":"body","name":"solution","description":"solution","required":true,"schema":{"$ref":"#/definitions/MLPSolution"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Deletes a solution.","operationId":"deleteSolutionUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/dnld":{"get":{"tags":["solution-controller"],"summary":"Gets a page of download records for the specified solution ID.","operationId":"getSolutionDownloadsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDownload"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/dnld/artifact/{artifactId}/user/{userId}":{"post":{"tags":["solution-controller"],"summary":"Creates a new solution download record.","operationId":"createSolutionDownloadUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"},{"in":"body","name":"sd","description":"sd","required":true,"schema":{"$ref":"#/definitions/MLPSolutionDownload"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDownload"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/dnld/{downloadId}":{"delete":{"tags":["solution-controller"],"summary":"Deletes the specified solution download record.","operationId":"deleteSolutionDownloadUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"downloadId","in":"path","description":"downloadId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/rating":{"get":{"tags":["solution-controller"],"summary":"Gets all user ratings for the specified solution.","operationId":"getListOfSolutionRatingUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPSolutionRating"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/rating/user/{userId}":{"get":{"tags":["solution-controller"],"summary":"Gets an existing solution rating.","operationId":"getSolutionRatingUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionRating"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["solution-controller"],"summary":"Creates a new solution rating.","operationId":"createSolutionRatingUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"in":"body","name":"sr","description":"sr","required":true,"schema":{"$ref":"#/definitions/MLPSolutionRating"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionRating"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["solution-controller"],"summary":"Updates the specified solution rating.","operationId":"updateSolutionRatingUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"in":"body","name":"sr","description":"sr","required":true,"schema":{"$ref":"#/definitions/MLPSolutionRating"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Deletes the specified solution rating.","operationId":"deleteSolutionRatingUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/revision":{"get":{"tags":["solution-controller"],"summary":"Gets a list of revisions for the specified solution IDs.","operationId":"getListOfRevisionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPSolutionRevision"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["solution-controller"],"summary":"Creates a new solution revision.","operationId":"createSolutionRevisionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"in":"body","name":"revision","description":"revision","required":true,"schema":{"$ref":"#/definitions/MLPSolutionRevision"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionRevision"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/revision/{revisionId}":{"get":{"tags":["solution-controller"],"summary":"Gets the revision for the specified ID.","operationId":"getSolutionRevisionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["solution-controller"],"summary":"Updates an existing solution revision.","operationId":"updateSolutionRevisionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"in":"body","name":"revision","description":"revision","required":true,"schema":{"$ref":"#/definitions/MLPSolutionRevision"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Deletes a solution revision.","operationId":"deleteSolutionRevisionUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/revision/{revisionId}/artifact":{"get":{"tags":["solution-controller"],"summary":"Gets the artifacts for the solution revision.","operationId":"getSolRevArtifactsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPArtifact"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/revision/{revisionId}/artifact/{artifactId}":{"post":{"tags":["solution-controller"],"summary":"Adds an artifact to the solution revision.","operationId":"addRevArtifactUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Removes an artifact from the solution revision.","operationId":"dropRevArtifactUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"artifactId","in":"path","description":"artifactId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/revision/{revisionId}/deploy":{"get":{"tags":["solution-controller"],"summary":"Gets the deployments for the specified solution and revision IDs.","operationId":"getSolutionDeploymentsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDeployment"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["solution-controller"],"summary":"Creates a new deployment record for the specified solution and revision.","operationId":"createSolutionDeploymentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"in":"body","name":"sd","description":"sd","required":true,"schema":{"$ref":"#/definitions/MLPSolutionDeployment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDeployment"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/revision/{revisionId}/deploy/{deploymentId}":{"put":{"tags":["solution-controller"],"summary":"Updates the deployment record for the specified ID.","operationId":"updateSolutionDeploymentUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"deploymentId","in":"path","description":"deploymentId","required":true,"type":"string"},{"in":"body","name":"sd","description":"sd","required":true,"schema":{"$ref":"#/definitions/MLPSolutionDeployment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDeployment"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Deletes the specified deployment record.","operationId":"deleteSolutionDeploymentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"deploymentId","in":"path","description":"deploymentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/revision/{revisionId}/user/{userId}/deploy":{"get":{"tags":["solution-controller"],"summary":"Gets the deployments for the specified solution, revision and user IDs.","operationId":"getUserSolutionRevisionDeploymentsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDeployment"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/revision/{revisionId}/validation":{"get":{"tags":["solution-controller"],"summary":"Gets validation results for the specified solution and revision.","operationId":"getListOfSolutionValidationsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPSolutionValidation"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/revision/{revisionId}/validation/{taskId}":{"post":{"tags":["solution-controller"],"summary":"Creates a new solution validation record.","operationId":"createSolutionValidationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"in":"body","name":"sv","description":"sv","required":true,"schema":{"$ref":"#/definitions/MLPSolutionValidation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionValidation"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["solution-controller"],"summary":"Updates the specified solution validation.","operationId":"updateSolutionValidationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"},{"in":"body","name":"sv","description":"sv","required":true,"schema":{"$ref":"#/definitions/MLPSolutionValidation"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Deletes the specified solution validation record.","operationId":"deleteSolutionValidationUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"},{"name":"taskId","in":"path","description":"taskId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/tag":{"get":{"tags":["solution-controller"],"summary":"Gets a list of tags for the specified solution.","operationId":"getTagsForSolutionUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPTag"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/tag/{tag}":{"post":{"tags":["solution-controller"],"summary":"Adds a tag to the solution.","operationId":"addTagUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"tag","in":"path","description":"tag","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Drops a tag from the solution.","operationId":"dropTagUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"tag","in":"path","description":"tag","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/user/access":{"get":{"tags":["solution-controller"],"summary":"Gets access-control list of users for the specified solution.","operationId":"getSolutionACLUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MLPUser"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/user/{userId}/access":{"post":{"tags":["solution-controller"],"summary":"Adds a user to the ACL for the specified solution.","operationId":"addUserToSolutionACLUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["solution-controller"],"summary":"Drops a user from the ACL for the specified solution.","operationId":"dropUserFromSolutionACLUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/solution/{solutionId}/view":{"put":{"tags":["solution-controller"],"summary":"Increments view count of the specified solution.","operationId":"incrementViewCountUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/solution/{solutionId}/web":{"get":{"tags":["solution-controller"],"summary":"Gets web metadata for the specified solution including average rating and total download count.","operationId":"getSolutionWebStatsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionWeb"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/stepresult":{"get":{"tags":["step-result-controller"],"summary":"Gets a page of step results, optionally sorted on fields.","operationId":"getStepResultsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPStepResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["step-result-controller"],"summary":"Creates a new step result.","operationId":"createStepResultUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"stepResult","description":"stepResult","required":true,"schema":{"$ref":"#/definitions/MLPStepResult"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPStepResult"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/stepresult/search":{"get":{"tags":["step-result-controller"],"summary":"Searches for step results using the field name - field value pairs specified as query parameters. Defaults to and (conjunction); send junction query parameter = o for or (disjunction).","operationId":"searchStepResultsUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPStepResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/stepresult/{stepResultId}":{"get":{"tags":["step-result-controller"],"summary":"Gets the step result for the specified ID.","operationId":"getStepResultUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"stepResultId","in":"path","description":"stepResultId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPStepResult"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["step-result-controller"],"summary":"Updates a step result.","operationId":"updateStepResultUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"stepResultId","in":"path","description":"stepResultId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"stepResult","description":"stepResult","required":true,"schema":{"$ref":"#/definitions/MLPStepResult"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["step-result-controller"],"summary":"Deletes the stepResult with the specified ID.","operationId":"deleteStepResultUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"stepResultId","in":"path","description":"stepResultId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/tag":{"get":{"tags":["tag-controller"],"summary":"Gets a page of tags, optionally sorted.","operationId":"getTagsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPTag"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["tag-controller"],"summary":"Creates a new tag.","operationId":"createTagUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"tag","description":"tag","required":true,"schema":{"$ref":"#/definitions/MLPTag"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPTag"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/tag/{tag}":{"delete":{"tags":["tag-controller"],"summary":"Deletes a tag.","operationId":"deleteTagUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"tag","in":"path","description":"tag","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/thread":{"get":{"tags":["thread-controller"],"summary":"Gets a page of threads, optionally sorted.","operationId":"getThreadsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPThread"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["thread-controller"],"summary":"Creates a thread.","operationId":"createThreadUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"thread","description":"thread","required":true,"schema":{"$ref":"#/definitions/MLPThread"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPThread"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/count":{"get":{"tags":["thread-controller"],"summary":"Gets the count of threads.","operationId":"getThreadCountUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/solution/{solutionId}/revision/{revisionId}":{"get":{"tags":["thread-controller"],"summary":"Gets a page of threads for the solution and revision IDs, optionally sorted.","operationId":"getSolutionRevisionThreadsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPThread"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/solution/{solutionId}/revision/{revisionId}/comment":{"get":{"tags":["thread-controller"],"summary":"Gets a page of comments for the solution revision, optionally sorted.","operationId":"getSolutionRevisionCommentsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPThread"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/solution/{solutionId}/revision/{revisionId}/comment/count":{"get":{"tags":["thread-controller"],"summary":"Gets comment count for the solution revision.","operationId":"getSolutionRevisionCommentCountUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"revisionId","in":"path","description":"revisionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/{threadId}":{"get":{"tags":["thread-controller"],"summary":"Gets the thread for the specified ID.","operationId":"getThreadUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPThread"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["thread-controller"],"summary":"Updates a thread.","operationId":"updateThreadUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"},{"in":"body","name":"thread","description":"thread","required":true,"schema":{"$ref":"#/definitions/MLPThread"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["thread-controller"],"summary":"Deletes a thread.","operationId":"deleteThreadUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/thread/{threadId}/comment":{"get":{"tags":["thread-controller"],"summary":"Gets a page of comments in the thread.","operationId":"getThreadCommentsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPComment"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["thread-controller"],"summary":"Creates a comment.","operationId":"createCommentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"},{"in":"body","name":"comment","description":"comment","required":true,"schema":{"$ref":"#/definitions/MLPComment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPComment"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/{threadId}/comment/count":{"get":{"tags":["thread-controller"],"summary":"Gets the number of comments in the thread.","operationId":"getCommentCountUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/thread/{threadId}/comment/{commentId}":{"get":{"tags":["thread-controller"],"summary":"Gets the comment for the specified ID.","operationId":"getCommentUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"},{"name":"commentId","in":"path","description":"commentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPComment"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["thread-controller"],"summary":"Updates a comment.","operationId":"updateCommentUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"},{"name":"commentId","in":"path","description":"commentId","required":true,"type":"string"},{"in":"body","name":"comment","description":"comment","required":true,"schema":{"$ref":"#/definitions/MLPComment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["thread-controller"],"summary":"Deletes a comment.","operationId":"deleteCommentUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"threadId","in":"path","description":"threadId","required":true,"type":"string"},{"name":"commentId","in":"path","description":"commentId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/user":{"get":{"tags":["user-controller"],"summary":"Gets a page of users, optionally sorted on fields.","operationId":"getUsersUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUser"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["user-controller"],"summary":"Creates a new user.","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/MLPUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUser"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/count":{"get":{"tags":["user-controller"],"summary":"Gets the count of users.","operationId":"getUserCountUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/like":{"get":{"tags":["user-controller"],"summary":"Searches for users with names that contain the search term.","operationId":"likeUsersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"term","in":"query","description":"term","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUser"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/login":{"post":{"tags":["user-controller"],"summary":"Checks the specified credentials.  Searches both login name and email fields for the specified name.  Returns the user object if an active user exists with the specified credentials; answers bad request if no match is found.","operationId":"loginUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"login","description":"login","required":true,"schema":{"$ref":"#/definitions/LoginTransport"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUser"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/notifpref":{"post":{"tags":["user-controller"],"summary":"Creates a new user notification preference","operationId":"createUserNotificationPreferenceUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"usrNotifPref","description":"usrNotifPref","required":true,"schema":{"$ref":"#/definitions/MLPUserNotifPref"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUserNotifPref"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/notifpref/{userNotifPrefId}":{"get":{"tags":["user-controller"],"summary":"Gets the user notification preference for the specified ID.","operationId":"getUserNotificationPreferenceUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUserNotifPref"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["user-controller"],"summary":"Updates a user notification preference.","operationId":"updateUserNotificationPreferenceUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"usrNotifPref","description":"usrNotifPref","required":true,"schema":{"$ref":"#/definitions/MLPUserNotifPref"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["user-controller"],"summary":"Deletes the user notification preference with the specified ID.","operationId":"deleteUserNotificationPreferenceUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userNotifPrefId","in":"path","description":"userNotifPrefId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/user/role/{roleId}":{"put":{"tags":["user-controller"],"summary":"Adds or removes the specified role for multiple users.","operationId":"addOrDropUsersInRoleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"},{"in":"body","name":"usersRoleRequest","description":"usersRoleRequest","required":true,"schema":{"$ref":"#/definitions/UsersRoleRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/role/{roleId}/count":{"get":{"tags":["user-controller"],"summary":"Gets the count of users in a role.","operationId":"getRoleUsersCountUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CountTransport"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/search":{"get":{"tags":["user-controller"],"summary":"Searches for users using the field name - field value pairs specified as query parameters. Defaults to and (conjunction); send junction query parameter = o for or (disjunction).","operationId":"searchUsersUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"queryParameters","in":"query","description":"queryParameters","required":true,"items":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUser"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/{userId}":{"get":{"tags":["user-controller"],"summary":"Gets the user for the specified ID.","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPUser"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["user-controller"],"summary":"Updates a user.","operationId":"updateUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/MLPUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["user-controller"],"summary":"Deletes a user.","operationId":"deleteUserUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/user/{userId}/chgpw":{"put":{"tags":["user-controller"],"summary":"Sets the user's password to the new value if the user exists, is active, and the old password matches.","operationId":"updatePasswordUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"in":"body","name":"changeRequest","description":"changeRequest","required":true,"schema":{"$ref":"#/definitions/MLPPasswordChangeRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SuccessTransport"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/{userId}/deploy":{"get":{"tags":["user-controller"],"summary":"Gets the deployments for the specified user ID.","operationId":"getUserDeploymentsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionDeployment"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/{userId}/favorite/solution":{"get":{"tags":["user-controller"],"summary":"Gets a page of solutions which are favorites for the specified user ID.","operationId":"getFavoriteSolutionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolution"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/user/{userId}/favorite/solution/{solutionId}":{"post":{"tags":["user-controller"],"summary":"Creates a new solution favorite record.","operationId":"createSolutionFavoriteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"},{"in":"body","name":"sfv","description":"sfv","required":true,"schema":{"$ref":"#/definitions/MLPSolutionFavorite"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MLPSolutionFavorite"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["user-controller"],"summary":"Deletes the specified solution favorite record.","operationId":"deleteSolutionFavoriteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"solutionId","in":"path","description":"solutionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","sch
[...]
